main img {
    width: 100%;
    border-bottom: 8px solid #3A8C8C;
}

#down {
    position: absolute;
    left: 181px;
    top: 418px;
}

#cont {
    position: absolute;
    left: 463px;
    top: 418px;
    padding: 18px 32px;
}