header {
    display: flex;
    justify-content: space-between;
    background-color: #032859;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

.logo {
    height: 60px;
}

nav {
    text-align: right;
}

nav a {
    display: inline-flex;
    color: #ffffff;
    font-size: 20px;
    font-family: "Fira Code", Arial, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px 0 0; /* Sentido horário */
}

a:not(.button)::before {
    content: "";
    background-color: #FE6A2C;
    width: 10px;
    height: 10px;
    margin: 10px;
}

.button {
    display: inline-block; /* Inline - não permite a alteração na altura(height) e tamanho(width). */
    background-color: #FE6A2C;
    /* line-height: 60px; /* Só é possível fazer isso quando há apenas uma linha, o varlor tem que ser igual o height.
    height: 60px; */
    padding: 17px 20px;
    box-shadow: 6px 6px 2px #000000;
    margin-right: 0;
}

.button:hover { /* Muda a cor ao colocar o mouse em cima. */
    background-color: #FFB06D;
}

.button:active { /* Muda a cor ao clicar. */
    background-color: #FFB06D;
}

.spider {
    width: 100%;
}