#title {
    position: absolute;
    left: 91px;
    top: 196px;
    display: inline-block;
    background-color: #0E3740;
    box-shadow: 10px 10px 0 #FFF;
}

h1 {
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: #F21F0C;
    text-shadow: 4px 4px 0 #000;
    padding: 42px 97px 0px 80px;
    margin-bottom: 28px;
}